*.suo
*.snk
/.vs
*/bin
*/obj
*.exe
*.log
*.pdb
*.db
/packages
/Test/Capture_img
/Test/Config.ini
/Test/bs1770gain**
/Test/dll/CSharpTest.Net.Collections.*
/Test/System/sim
/Test/01 J-POP
/Test/02 アニメ
/Test/03 ボーカロイド曲
/Test/04 どうよう
/Test/05 バラエティ
/Test/06 クラシック
/Test/07 ゲームミュージック
/Test/08 ナムコオリジナル
